/* * {
  outline: solid black 2px;
} */

body {
  font-family: Helvetica;
  font-size: 2em;
  line-height: 1.5;
  padding: 0 2em 0 2em;
}

ins {
  text-decoration: underline overline dashed;
  color: #406619;
  background-color: #eaf2c2;
}

del {
  text-decoration: underline overline dotted;
  color: #b30000;
  background: #fadad7;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

sup {
  font-weight: bold;
}

.nav-ctrl select {
  font-size: 1em;
}

.nav-ctrl-chapter {
  margin-top: 0.5em;
}

.nav-ctrl-help {
  margin-top: 0.5em;
}

header {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header .nav-ctrl {
  font-size: 0.5em;
}

header h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.33em;
}

.passage-text p {
  margin-top: 0;
}

.passage-text h2 {
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0.5em;
}

#chapter-heading-container {
  text-align: center;
}

footer p {
  font-size: 0.5em;
}

button {
  font-size: 1em;
}

.nav-ctrl-chapter-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.nav-ctrl-chapter-btn button {
  font-size: 0.5em;
}

/** Mobile Styles */

@media only screen and (max-width: 600px) {
  body {
    padding: 0 0.5em 0 0.5em;
  }
}

/** Styles for A11yDialog - https://github.com/KittyGiraudel/a11y-dialog 
 *
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
.dialog-container,
.dialog-overlay {
  position: fixed; /* 1 */
  inset: 0; /* 1 */
}

/**
  * 1. Make sure the dialog container and all its descendants sits on
  *    top of the rest of the page.
  * 2. Make the dialog container a flex container to easily center the
  *    dialog.
  */
.dialog-container {
  z-index: 2; /* 1 */
  display: flex; /* 2 */
}

/**
  * 1. Make sure the dialog container and all its descendants are not
  *    visible and not focusable when it is hidden.
  */
.dialog-container[aria-hidden="true"] {
  display: none; /* 1 */
}

/**
  * 1. Make the overlay look like an overlay.
  */
.dialog-overlay {
  background-color: rgb(43 46 56 / 0.9); /* 1 */
}

/**
  * 1. Vertically and horizontally center the dialog in the page.
  * 2. Make sure the dialog sits on top of the overlay.
  * 3. Make sure the dialog has an opaque background.
  */
.dialog-content {
  margin: auto; /* 1 */
  z-index: 2; /* 2 */
  position: relative; /* 2 */
  background-color: white; /* 3 */
  padding: 2em;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 90vh;
}

@media only screen and (max-width: 600px) {
  .dialog-content {
    padding: 0.5em;
  }
}

.dialog-close-button {
  display: flex;
  flex-direction: column;
}

.dialog-close-button button {
  align-self: flex-end;
  font-size: 2em;
}

.dialog-main h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

.dialog-main h2 {
  margin: 0;
  font-size: 1em;
}

.dialog-main p {
  font-size: 1em;
  margin-top: 0.25em;
}

.dialog-close-button-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** 
  * Animation and reduced motion accessibility
 */

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dialog-overlay {
  animation: fade-in 500ms both;
}

/**
   * 1. Add an animation delay equal to the overlay animation duration to
   *    wait for the overlay to appear before animation in the dialog.
   */
.dialog-content {
  animation:
    fade-in 1000ms 500ms both,
    slide-up 1000ms 500ms both; /* 1 */
}

@media (prefers-reduced-motion: reduce) {
  .dialog-overlay,
  .dialog-content {
    animation: none;
  }
}
