body {
    font-family: Helvetica;
    font-size: 2em;
    line-height: 1.5;
    padding: 0 2em 0 2em;
}

ins {
    text-decoration: underline overline dashed;
    color: #406619;
    background-color: #eaf2c2;
}

del {
    text-decoration: underline overline dotted;
    color: #b30000;
    background: #fadad7;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.nav-ctrl select {
    font-size: 1em;
}

.nav-ctrl-chapter {
    margin-top: 0.5em;
}

.nav-ctrl-help {
    margin-top: 0.5em;
}

header {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header .nav-ctrl {
    font-size: 0.5em;
}

header h1 {
    margin-bottom: 0.25em;
}

.passage-text {
    padding: 0 2em 0 2em;
}

.passage-text h2 {
    font-size: 1em;
}

#chapter-heading-container {
    text-align: center;
}

footer p {
    font-size: 0.5em;
}

button {
    font-size: 1em;
}

.nav-ctrl-chapter-btn {
    display: flex;
    justify-content: space-between;
}

.nav-ctrl-chapter-btn button {
    font-size: 0.5em;
}

/** Styles for A11yDialog - https://github.com/KittyGiraudel/a11y-dialog 
 *
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
 .dialog-container,
 .dialog-overlay {
   position: fixed; /* 1 */
   inset: 0; /* 1 */
 }
 
 /**
  * 1. Make sure the dialog container and all its descendants sits on
  *    top of the rest of the page.
  * 2. Make the dialog container a flex container to easily center the
  *    dialog.
  */
 .dialog-container {
   z-index: 2; /* 1 */
   display: flex; /* 2 */
 }
 
 /**
  * 1. Make sure the dialog container and all its descendants are not
  *    visible and not focusable when it is hidden.
  */
 .dialog-container[aria-hidden='true'] {
   display: none; /* 1 */
 }
 
 /**
  * 1. Make the overlay look like an overlay.
  */
 .dialog-overlay {
   background-color: rgb(43 46 56 / 0.9); /* 1 */
 }
 
 /**
  * 1. Vertically and horizontally center the dialog in the page.
  * 2. Make sure the dialog sits on top of the overlay.
  * 3. Make sure the dialog has an opaque background.
  */
 .dialog-content {
   margin: auto; /* 1 */
   z-index: 2; /* 2 */
   position: relative; /* 2 */
   background-color: white; /* 3 */
 }
