backend/*.js
backend/*.js.map
frontend/*.js.map

node_modules/
.vscode/

.env
.env.local
.env.*.local

*.tsbuildinfo

# debugging/testing files
test*
debug_output/
backup_data/

# temporarily not committing frontend data files until I've confirmed there's no more debugging to do on the backend
frontend/data